
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h2>are you sure to delete this category></h2>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Yes Delete</button>
</form>
<a href="Index">Cancel</a>

